body {
    padding-top: 56px;
}

.page {
    display: none;
    height: 100%;
}

.message {
    display: none;
}

.message ul {
    margin-bottom: 0;
    padding-left: 1rem;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    z-index: 9999;
}

    .loading > div {
        margin: auto;
    }

.login-tabs-container {
    margin-top: -40px;
}