<div class="container-fluid">
    <div class="row py-3">
        <div class="col-md-4 col-lg-3">
            <button ng-click="newNote()" type="button" class="btn btn-success mb-2 add-new-note">
                <i class="fas fa-plus"></i> New Note
            </button>
            <div class="list-group" id="notes">
                <a href="#" ng-repeat="note in notes | orderBy: 'Id' : true" 
                   ng-click="showNote($event, note)" 
                   ng-class="{active: note.Id == currentNote.Id}" class="list-group-item list-group-item-action">
                    {{ note.Title }}
                </a>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 mt-md-0 mt-3">
            <form id="frmNote" ng-submit="submitNote()">
                <div class="form-group">
                    <input ng-model="noteForm.Title" id="title" type="text" class="form-control" placeholder="Title" required />
                </div>
                <div class="form-group">
                    <textarea ng-model="noteForm.Content" id="content" class="form-control" placeholder="Content" rows="10" cols="20"></textarea>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button ng-click="deleteNote()" id="btnDelete" type="button" class="btn btn-danger ml-auto">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>